* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.number-image {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
}

#numberContainer {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;    
}

.choose-message {
    width: 100%;
    height: 80px;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;    
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 14px 21px;
    background: red;     
}


.selected-number {
    border: 5px solid red;
    border-radius: 50px;
    margin: 10px; 
    cursor: pointer;
    width: 80px; 
    height: 80px; 
    object-fit: cover;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#printNumber {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#allNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-x: auto;
    margin-bottom: 10px;
}

.image {
    display: none;
    max-width: 100px;
    max-height: 100px;
    margin: 0 5px;
}

#startButton, #restartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 180px;
    height: 80px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 1.7rem;
    padding: 14px 21px;
    background: red;
    font-weight: bold;    
}